<footer>
    <div class="flex flex-col sm:flex-row sm:justify-between container mx-auto px-5 py-10 text-center text-white">
        <div class="sm:flex sm:flex-row sm:text-left">
            <div class="flex flex-col sm:mr-20">
                <div class="mx-auto mb-6 sm:ml-0 sm:mb-16">
                    <img src="assets/images/logo-footer.svg" alt="logo">
                </div>
                <div class="mx-auto">
                    <ul class="social-links flex items-center">
                        <li><img class="mr-4" src="assets/images/icon-facebook.svg" alt="icon facebook"></li>
                        <li><img class="mr-4" src="assets/images/icon-youtube.svg" alt="icon youtube"></li>
                        <li><img class="mr-4" src="assets/images/icon-twitter.svg" alt="icon twitter"></li>
                        <li><img class="mr-4" src="assets/images/icon-pinterest.svg" alt="icon pinterest"></li>
                        <li><img src="assets/images/icon-instagram.svg" alt="icon instagram"></li>
                    </ul>
                </div>
            </div>
            <ul class="footer-links mt-4 sm:m-0 sm:mr-20">
                <li class="p-2 sm:pt-0"><span>About Us</span></li>
                <li class="p-2"><span>Contact</span></li>
                <li class="p-2"><span>Blog</span></li>
            </ul>
            <ul class="footer-links mb-4 sm:m-0">
                <li class="p-2 sm:pt-0"><span>Careers</span></li>
                <li class="p-2"><span>Support</span></li>
                <li class="p-2"><span>Privacy Policy</span></li>
            </ul>
            <!-- <div class="sm:flex footer-links my-6 sm:mt-0">
                <ul>
                    <li class="p-2 sm:pt-0"><span>About Us</span></li>
                    <li class="p-2"><span>Contact</span></li>
                    <li class="p-2"><span>Blog</span></li>
                </ul>
                <ul>
                    <li class="p-2 sm:pt-0"><span>Careers</span></li>
                    <li class="p-2"><span>Support</span></li>
                    <li class="p-2"><span>Privacy Policy</span></li>
                </ul>
            </div> -->
        </div>
        <div class="sm:text-right">
            <button type="button" class="btn-footer rounded-full p-2 mb-6 w-48 text-white">Request Invite</button>
            <div class="copyright">© Easybank. All Rights Reserved</div>
        </div>
    </div>
</footer>