<header class="relative z-10 bg-white">
  <nav class="container mx-auto p-5 sm:py-0">
    <div class="flex justify-between sm:place-items-center">
      <img class="h-6" src="assets/images/logo.svg" alt="logo">
      <button (click)="toggleMenu()" type="button" class="sm:hidden">
        <svg *ngIf="!isOpen" class="h-6 w-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <svg *ngIf="isOpen" class="h-6 w-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <ul class="nav-links sm:flex flex-row text-center hidden">
        <li class="mr-5 py-5">Home</li>
        <li class="mr-5 py-5">About</li>
        <li class="mr-5 py-5">Contact</li>
        <li class="mr-5 py-5">Blog</li>
        <li class="py-5">Careers</li>
      </ul>
      <button type="button" class="nav-btn rounded-full sm:block p-2 w-48 hidden text-white">Request Invite</button>
    </div>
    <div *ngIf="isOpen" class="sm:block absolute left-0 right-0 px-5 mt-10">
      <ul class="flex flex-col sm:flex-row bg-white rounded text-center text-xl">
        <li class="m-2 mt-8">Home</li>
        <li class="m-2">About</li>
        <li class="m-2">Contact</li>
        <li class="m-2">Blog</li>
        <li class="m-2 mb-8">Careers</li>
      </ul>
    </div>
  </nav>
</header>

<div [ngClass]="{'overlay': isOpen}">
  <app-hero-shot></app-hero-shot>
  <app-features></app-features>
  <app-blog-article></app-blog-article>
</div>

<app-footer></app-footer>

<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="#">Dgschel</a>.
</div>