.image {
    height: 200px;
}

.image-currency {
    background: url(/assets/images/image-currency.jpg) no-repeat center center;
}

.image-restaurant {
    background: url(/assets/images/image-restaurant.jpg) no-repeat center center;
}

.image-plane {
    background: url(/assets/images/image-plane.jpg) no-repeat center center;

}

.image-confetti {
    background: url(/assets/images/image-confetti.jpg) no-repeat center center;

}

.author, .text {
    color: #9698a6;
}

h3:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .image {
        width: 100%;
    }
}