<section>
    <div class="container mx-auto p-5 py-16">
        <h2 class="text-3xl text-center sm:text-left mb-5">Latest Articles</h2>
        <div class="lg:flex">
            <div class="mb-16 mr-4 w-full">
                <!-- <div class="image image-currency rounded sm:ml-0"></div> -->
                <img class="image rounded lg:w-full" src="assets/images/image-currency.jpg" alt="currency">
                <div class="m-5">
                    <div class="author mt-2 text-xs">By Claire Robinson</div>
                    <h3 class="text-xl leading-tight my-3">Receive money in any currency with no fees</h3>
                    <p class="text">The world is getting smaller and we’re becoming more mobile. So why should you be
                        forced to only receive money in a single …</p>
                </div>
            </div>
            <div class="mb-16 mr-4 w-full">
                <!-- <div class="image image-restaurant rounded"></div> -->
                <img class="image rounded lg:w-full" src="assets/images/image-restaurant.jpg" alt="restaurant">
                <div class="m-5">
                    <div class="author mt-2 text-xs">By Wilson Hutton</div>
                    <h3 class="text-xl leading-tight my-3">Treat yourself without worrying about money</h3>
                    <p class="text">Our simple budgeting feature allows you to separate out your spending and set
                        realistic limits each month. That means you …</p>
                </div>
            </div>
            <div class="mb-16 mr-4 w-full">
                <!-- <div class="image image-plane rounded"></div> -->
                <img class="image rounded lg:w-full" src="assets/images/image-plane.jpg" alt="plane">
                <div class="m-5">
                    <div class="author mt-2 text-xs">By Wilson Hutton</div>
                    <h3 class="text-xl leading-tight my-3">Take your Easybank card wherever you go</h3>
                    <p class="text">We want you to enjoy your travels. This is why we don’t charge any fees on purchases
                        while you’re abroad. We’ll even show you …</p>
                </div>
            </div>
            <div class="mb-16 w-full">
                <!-- <div class="image image-confetti rounded"></div> -->
                <img class="image rounded lg:w-full" src="assets/images/image-confetti.jpg" alt="confetti">
                <div class="m-5">
                    <div class="author mt-2 text-xs">By Claire Robinson</div>
                    <h3 class="text-xl leading-tight my-3">Our invite-only Beta accounts are now live!</h3>
                    <p class="text">After a lot of hard work by the whole team, we’re excited to launch our closed beta.
                        It’s easy to request an invite through the site ...</p>
                </div>
            </div>
        </div>
    </div>
</section>